<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Links of CSS files -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive1.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/dark-style.css' %}">

    <title>{{ project.title }} - Sifatli Botlar</title>
    <meta name="description" content="{{ project.sub_title }}">

    <link rel="icon" type="image/png" href="{% static 'assets/img/logo/icon.jpg' %}">
</head>
<body>

{% block header %}{% include 'components/header_all.html' %}{% endblock %}
{% block index %}{% include 'projects_detail/project_detail.html' %}{% endblock %}
{% block footer %}{% include 'components/footer.html' %}{% endblock %}

<!-- Links of JS files -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.meanmenu.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/form-validator.min.js' %}"></script>
<script src="{% static 'assets/js/contact-form-script.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>